# Import Libararies

In [7]:
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [8]:
#read in the taining dataframe from EDA and data cleanup.
titanic_train = pd.read_csv('titanic_train.csv')
titanic_train.head(2)

,Unnamed: 0,survived,pclass,name,sex,age,sibsp,parch,ticket,fare,embarked,sex_f,embarked_f
0,0,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7,S,0,0
1,1,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71,C,1,1

In [9]:
titanic_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Data columns (total 13 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  2 non-null      int64
 1   survived    2 non-null      int64
 2   pclass      2 non-null      int64
 3   name        2 non-null      object
 4   sex         2 non-null      object
 5   age         2 non-null      float64
 6   sibsp       2 non-null      int64
 7   parch       2 non-null      int64
 8   ticket      2 non-null      object
 9   fare        2 non-null      int64
 10  embarked    2 non-null      object
 11  sex_f       2 non-null      int64
 12  embarked_f  2 non-null      int64
dtypes: float64(1), int64(8), object(4)
memory usage: 336.0+ bytes

# Train-test Split

In [ ]:
#drop the column "Survived" from file as we are creating a ML to predict
#y is true data (Y_true) the survivors from the original file, we will try and predict Y_new
X = train_data[['Pclass','Fare', 'SibSp', 'Sex_factorized', 'Age_filled','Cabin_factorized', 'Embarked_factorized']]
y = train_data["Survived"]